body {
    /*background-color: azure;*/
    background-image: url(https://cdn.britannica.com/86/156586-050-EFB37140/Harbour-Bridge-Sydney.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% 20%;
 }
.navbar {
    margin:0;
 }

 .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
 }

 .main{
    background-color: white;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
 }

 h1 {
    font-size: 40px;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 40px;
 }

 h2 {
    font-size:15px;
    padding-left: 10%;
    font-weight: bold;
 }

 h3{
    font-size:15px;
    text-align: center;
    font-weight: bold;
 }

 p{
   padding-top: 6px;
   padding-bottom: 3px;
 }

 th{
    border-style:none;
    padding-bottom: 20px;
 }

 td{
   border-bottom-style: none;
   border-left-style: none;
   border-right-style: none;
   border-top-style: solid;
   border-width: 0.5px;
   border-color: #001a66;
   padding-bottom: 20px;
   padding-top: 20px;
 }

 .submit {
   background-color: #173ba7;
   border: none;
   color: white;
   padding: 15px 35px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   border-radius: 12px;
   float:right;
 }

 .submit:hover{
   background-color: #001a66;
 }

 .textbox{
    border-radius: 4px;
    border-width: 0.5px; 
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    text-align: left;
    vertical-align: top;
    resize: none;
 }

 .button{
   font-size: 20px;
   float:right;
   margin-top:30px;
   margin-bottom: 100px;
   padding-right: 140px;
 }

 .enquiriesButton{
  background-color: #173ba7;
  border: none;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  display:block;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20px;
  margin-bottom:100px;
 }

 .enquiriesButton:hover{
  background-color: #001a66;
  text-decoration: none;
  color: white;
}

.enquiryForm{
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  border-collapse: collapse;
  table-layout: fixed;
  border-style: none;
  width: 80%;
}

.enquiriesTable{
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  margin-bottom:100px;
  border-collapse: collapse;
  table-layout: fixed;
  border-style: none;
  width:80%;
}

.tableColumn{
  width: 20px;
}

.newEnquiryButton{
  background-color: #173ba7;
  border: none;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  float:right;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom:100px;
 }

 .newEnquiryButton:hover{
  background-color: #001a66;
  text-decoration: none;
  color: white;
}

.emptyErr{
  color: red;
  padding-left: 110px;
}

.filter{
  margin-left: 130px;
  padding-top: 10px;
  margin-bottom:10px;
  border-collapse: collapse;
  table-layout: fixed;
  border-style: none;
  width:40%;
}

.staffFilter{
  margin-left: 130px;
  padding-top: 10px;
  margin-bottom:10px;
  border-collapse: collapse;
  table-layout: fixed;
  border-style: none;
  width:80%;
}

.collapsible {
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: rgb(219, 219, 219);;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right:none;
  text-align: left;
  font-size: 15px;
  margin-left: 10%;
  margin-right: auto;
}

.active, .collapsible:hover {
  background-color: rgb(219, 219, 219);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  text-align: left;
  margin-left: 10%;
  margin-right: auto;
  width: 80%;
}

.collapsible:after {
  content:url(arrow.png);
  font-size: 13px;
  float: right;
  margin-left: 5px;
  margin-top: 5px;
}

.active::after {
  transform: rotate(180deg);
  transform-origin: 50% 40%;
  transition: transform .25s;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.text{
  padding-left: 10%;
}