<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

  <!-- insert servlet stuff here -->
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.asd.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.asd.controller.RegisterServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.asd.controller.LogoutServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.asd.controller.LoginServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>AdminManagementServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminManagementServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>ProcessPayment</servlet-name>
        <servlet-class>uts.asd.controller.ProcessPayment</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>PaymentSuccess</servlet-name>
        <servlet-class>uts.asd.controller.PaymentSuccess</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>CustomerBooking</servlet-name>
        <servlet-class>uts.asd.controller.CustomerBooking</servlet-class>
    </servlet>     

    <!-- insert servlet mapping stuff here -->
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagementServlet</servlet-name>
        <url-pattern>/AdminManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPayment</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSuccess</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBooking</servlet-name>
        <url-pattern>/bookings</url-pattern>
    </servlet-mapping>

    <!-- yo whats up -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
