<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

  <!-- insert servlet stuff here -->
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.asd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.asd.controller.RegisterServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.asd.controller.LogoutServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.asd.controller.LoginServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>AdminManagementServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminManagementServlet</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>ProcessPayment</servlet-name>
        <servlet-class>uts.asd.controller.ProcessPayment</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>PaymentSuccess</servlet-name>
        <servlet-class>uts.asd.controller.PaymentSuccess</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>CustomerBooking</servlet-name>
        <servlet-class>uts.asd.controller.CustomerBooking</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>UpdateBooking</servlet-name>
        <servlet-class>uts.asd.controller.UpdateBooking</servlet-class>
    </servlet>  
    <servlet>   
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminUserManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoomManagementServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminRoomManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateUserServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminCreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateRoomServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminCreateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateRoomTypeServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminCreateRoomTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUserServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminUpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateRoomServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminUpdateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateRoomsServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminUpdateRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminDeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRoomServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminDeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRoomsServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminDeleteRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRoomTypeServlet</servlet-name>
        <servlet-class>uts.asd.controller.AdminDeleteRoomTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>uts.asd.controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomFilterServlet</servlet-name>
        <servlet-class>uts.asd.controller.RoomFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRoomServlet</servlet-name>
        <servlet-class>uts.asd.controller.ViewRoomServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>uts.asd.controller.UpdateServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>DeleteAccServlet</servlet-name>
        <servlet-class>uts.asd.controller.DeleteAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <servlet-class>uts.asd.controller.ConfirmBookingServlet</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>AddEnquiryServlet</servlet-name>
        <servlet-class>uts.asd.controller.AddEnquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnquiryReplyServlet</servlet-name>
        <servlet-class>uts.asd.controller.EnquiryReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEnquiryServlet</servlet-name>
        <servlet-class>uts.asd.controller.DeleteEnquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingServlet</servlet-name>
        <servlet-class>uts.asd.controller.ViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingServlet</servlet-name>
        <servlet-class>uts.asd.controller.CancelBookingServlet</servlet-class>
    </servlet>

    <!-- insert servlet mapping stuff here -->
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <url-pattern>/AdminUserManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoomManagementServlet</servlet-name>
        <url-pattern>/AdminRoomManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateUserServlet</servlet-name>
        <url-pattern>/AdminCreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateRoomServlet</servlet-name>
        <url-pattern>/AdminCreateRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateRoomTypeServlet</servlet-name>
        <url-pattern>/AdminCreateRoomTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUserServlet</servlet-name>
        <url-pattern>/AdminUpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateRoomServlet</servlet-name>
        <url-pattern>/AdminUpdateRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateRoomsServlet</servlet-name>
        <url-pattern>/AdminUpdateRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <url-pattern>/AdminDeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRoomServlet</servlet-name>
        <url-pattern>/AdminDeleteRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRoomsServlet</servlet-name>
        <url-pattern>/AdminDeleteRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRoomTypeServlet</servlet-name>
        <url-pattern>/AdminDeleteRoomTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPayment</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSuccess</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBooking</servlet-name>
        <url-pattern>/bookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBooking</servlet-name>
        <url-pattern>/UpdateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomFilterServlet</servlet-name>
        <url-pattern>/RoomFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRoomServlet</servlet-name>
        <url-pattern>/ViewRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccServlet</servlet-name>
        <url-pattern>/DeleteAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBookingServlet</servlet-name>
        <url-pattern>/ConfirmBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEnquiryServlet</servlet-name>
        <url-pattern>/AddEnquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnquiryReplyServlet</servlet-name>
        <url-pattern>/EnquiryReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEnquiryServlet</servlet-name>
        <url-pattern>/DeleteEnquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingServlet</servlet-name>
        <url-pattern>/ViewBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingServlet</servlet-name>
        <url-pattern>/CancelBookingServlet</url-pattern>
    </servlet-mapping>

    <!-- yo whats up -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
